<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates expedita neque necessitatibus quibusdam illum? Soluta incidunt repellendus beatae atque aut quae a consequatur facere perspiciatis sit nam voluptatum voluptatem in quis temporibus, eius enim ducimus et! A illo maxime tempore!</p>
    </div>
</div>