<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum architecto quisquam soluta, omnis exercitationem facilis facere vitae nostrum amet veniam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi quam error necessitatibus blanditiis architecto veritatis, cum deleniti non tempore eum odio quod, nihil dolore cumque aut rerum sunt id.</p>
</div>