<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Entra a tu cuenta</h1>
            </div>
            <div class="card-body">
                <img src="/img/user.png" alt="User" class=" rounded-circle mx-auto d-block m-4 logo">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input  type="email" class="form-control" name="email" placeholder="Ingresa tu email" autofocus> 
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingresa tu password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Entrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>